@import  "../../App.scss";

.bg-pink{
    background-color: $secondary;
}

.page-section{
    padding: 0 5%;
    h1{
        text-align: center;
        font-size: 3em;
        padding-bottom: 2%;
    }
    p{
        line-height: 1.8;
    }
    h2{
        font-weight: 500;
    }
    ul{
        li{
            color: black !important;
            font-family: $secondary-font;
        }
    }
    .blog-container{
        background-color: $secondary;
        img{
            display: block;
            margin: auto;
            border-radius: 100%;
            width: 100%;
        }
        .blog-head{
            padding: 2%;
            margin: 2% 10% !important;
            background-color: white;
            border-radius: 10px;
        }
    }
}

.w-100{
    width: 100%;
}