@import  "../../App.scss";


.search-candidate-home{
    padding: 2%;
    background-color: white;
}

.search-candidates-head{
    background-color: $secondary;
    padding: 2%;
    .search-candidates{
        background-color: white;
        padding: 1% 2%;
        border-radius: 10px;
        height: 100%;
    }
}

.candidates-nearby{
    padding: 0 3%;
}

.candidate-card-head{
    margin: 4% 0 !important;
}

.candidate-card{
    height: 100% !important;
    margin: 4% !important;
    border: 1px solid $primary;
    background: #FFE7F0;
    background: -webkit-linear-gradient(top left, #FFE7F0, #FFFFFF);
    background: -moz-linear-gradient(top left, #FFE7F0, #FFFFFF);
    background: linear-gradient(to bottom right, #FFE7F0, #FFFFFF);
    padding: 5% 2%;
    border-radius: 10px;
    img{
        width: 100%;
        border-radius: 100%;
    }
    h3{
        margin-bottom: 1%;

    }
    .keys{
        font-weight: bold;
    }
    .resume-cont{
        background-color: $secondary;
        padding: 2% !important;
        border-radius: 10px;
        h5{
            margin: 0;
            font-size: 0.9em;
        }
        p{
            font-size: 0.8em;
        }
    }
    .resume-cont:hover{
        text-decoration: underline;
        cursor: pointer;
    }

}

